<h1>New Message</h1>

<form class="message" action="<%= messages_url %>" method="post">
  <%= auth_token %>

  <label for="receiver">Send message to</label>
  <select id = "receiver" name="message[receiver_id]">
    <% @friends.try(:each) do |friend| %>
      <option value="<%= friend.id %>"><%= friend.show_name %></option>
    <% end %>
  </select>

  <label for="body">Message</label>
  <textarea id="body" name="message[body]" spellcheck="true">Type here</textarea>
  
  <input type="submit" value="Send">
</form>