  <% content_for :headjs do %>
    <%= javascript_include_tag "application" %>
  <% end %>
  
<div class="message"></div>
<script id="bootstrapped-messages" type="application/json">
  <%= { receivedMessages: @received_messages.as_json(include: :sender),
        sentMessages: @sent_messages.as_json(include: :receiver),
        friends: @friends.as_json}.to_json.html_safe %>

</script>
<script>

$(document).ready(function(){
  Unraveled.initialize();
});

</script>