<article class="received-messages">
  <h2>Received Messages</h2>
    <table>
      <tbody>
      <tr>
        <td>Sender</td>
        <td>Message</td>
        <td>Sent At</td>
      </tr>
    <% messages.forEach( function(message) { %>
      <tr>
        <td><%= message.escape("sender") %></td>
        <td><a href="<%= "#/" + message.get("id") %>">
          <%= message.escape("body")%>
        </a></td>
        <td><%= message.escape("created_at")%>
      </tr>
    <% }); %>
    </tbody>
  </table>
</article>