<article class="received-messages">

  <h2>Received Messages</h2>

    <table>
      <tbody>
      <tr>
        <td>Sender</td>
        <td>Message</td>
        <td>Sent</td>
      </tr>
    <% thread.forEach( function(message) { %>
      <tr>
        <td><%= message.sender().get("name") ? message.sender().get("name") : message.sender().get("email") %></td>
        <td><a href="<%= "#/" + message.get("id") %>">
          <%= message.escape("body")%>
        </a></td>
        <td><%= moment(message.escape("created_at")).fromNow() %>
      </tr>
    <% }); %>
    </tbody>
  </table>


  <a href="#new">Send a message</a>
  <a href="#">Back to index</a>
</article>


