<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to unravled, <%= @user.email %></h1>
    <p>
      Everything looks like it is a go.  To login into the site, just click <a href="<%= @url %>">here</a>
    </p>
    <p>Thanks for signing up!</p>
  </body>
</html>