<h1>Hey there <%= @user.email %></h1>


<section>
  <a href="<%= new_pattern_url %>">Add a new pattern!</a>
  <% if @patterns %>
  <h2>Patterns you've made:</h2>
  <ul>
    <% @patterns.each do |pattern| %>
    <li><a href="<%= pattern_url(pattern) %>">Photo place holder-- <%= pattern.name %></a></li>
    <% end %>
  </ul>
  <% end %>
</section>