<% action_url = ( action == :session) ? session_url : users_url %>
<% button_text = ( action == :session ) ? "Sign In" : "Sign Up" %>

<form class="sign-in-up" action="<%= action_url %>" method="post">
  <%= auth_token %>

    <input id="user_username" name="user[email]" type="text" placeholder="email">

    <input id="user_password" name="user[password]" type="password" placeholder="password">


  <% if action == :user %>
    <input id="user_password_confirmation" name="user[password_confirmation]" type="password" placeholder="password confirmation">
  <% end %>

  <input type="submit" value="<%= button_text %>">
</form>