/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

/* resets */

h1, h2, h3, body, section, div, button, a, label, form, li, ul, nav, article, form {
  padding: 0;
  margin: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="submit"],
textarea {
  -webkit-appearance: none;
  box-sizing: content-box;
  display: inline-block;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  vertical-align: baseline;
  width: auto;
  background: transparent;
  color: inherit;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

.group:after {
  content: "";
  clear: both;
  display: block;
}

input[type="submit"] {
  display: inline;
  cursor: pointer;
}

body {
  font-family: sans-serif;
  background: gray;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="submit"],
textarea {
  background: white;
}

nav.nav-bar {
  border-bottom: 1px solid black;
}

nav.nav-bar ul {
  float: left;

}

nav.nav-bar li {
  float: left;
  padding: 10px;
}

.nav-bar > form {
  float: right;
}

h1 {
  font-size: 30px;
}

article {
  float: left;
  padding: 20px;
  border-right: 1px solid black;
}

label {
  display: block;
}